html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: arial, sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
}

canvas {
    display: block;
}

.wrapper {
    padding: 20px;
}